body {
  font-family: Arial, Helvetica, sans-serif;
}
#logo {
  position: absolute;
  width: 92px;
  height: 30px;
  padding: 20px 28px 0 16px;
  top: 8px;
}
.search-cont {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 150px;
  align-items: center;
}
.search-in {
  border-radius: 23px;
  border: 1px solid #dfe1e5;
  width: 692px;
  height: 42px;
}
.search-in:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}
.searchx {
  margin: 0 0 0 -100px;
}
.search-line {
}
.mic {
}
.submit {
}
.launcher-icon {
position: relative;
margin: 0 0 0 100px;
}
.profilepic {
  border-radius: 50%;
}

/*.search-in:focus {
get rid of that blue highlight effect when in focus
}
*/


asdfasdf
/*

.search-options {
  display: grid;
  grid-area: search-options;
  grid-template-areas:
  "all news maps videos shopping more . settings tools";
}
.all {
  grid-area: all;
}
.news {
  grid-area: news;
}
.maps {
  grid-area: maps;
}
.videos {
  grid-area: videos;
}
.shopping {
  grid-area: shopping;
}
.more {
  grid-area: more;
}
.settings {
  grid-area: settings;
}
.tools {
  grid-area: tools;
}

.right-header {
  grid-area: right-header;
  display: grid;
  grid-template-areas:
  ". launcher profile";
}


.left-main {
  grid-area: left-main;
}
.center-main {
display: grid;
grid-area: center-main;
grid-template-areas:
"sr1"
"sr2"
"vblock"
"sr3"
"sr4"
"ppl-ask"
"sr5"
"iblock"
"sr6"
"sr7"
"sr8"
"sr9"
"s-related"
"g1-10";
height: auto;
}
.sr1 {
  grid-area: sr1;
}
.sr2 {
  grid-area: sr2;
}
.vblock {
  grid-area: vblock;
}
.sr3 {
  grid-area: sr3;
}
.sr4 {
  grid-area: sr4;
}
.ppl-ask {
  grid-area: ppl-ask;
}
.sr5 {
  grid-area: sr5;
}
.iblock {
  grid-area: iblock;
}
.sr6 {
  grid-area: sr6;
}
.sr7 {
  grid-area: sr7;
}
.sr8 {
  grid-area: sr8;
}
.sr9 {
  grid-area: sr9;
}
.s-related {
  grid-area: s-related;
}
.g1-10 {
  grid-area: g1-10;
}


.right-main {
  grid-area: right-main;
  width: auto;
}

.left-footer {
}
*/
